<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904349625960-irdcolab097vltj2dver5o757b0aqmmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904349625960-irdcolab097vltj2dver5o757b0aqmmc</string>
	<key>API_KEY</key>
	<string>AIzaSyDv-xp_6K3uW1zqyTjE0HLYB-wDkCASwX0</string>
	<key>GCM_SENDER_ID</key>
	<string>904349625960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exyte.chatFirestoreExample</string>
	<key>PROJECT_ID</key>
	<string>chatfirestoreexample-d07b8</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfirestoreexample-d07b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904349625960:ios:e5cacee9ddf9e0761e15dd</string>
</dict>
</plist>