<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>App Uses Non-Exempt Encryption</key>
		<false/>
		<key>CFBundleIconName</key>
		<string>AppIcon</string>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
    <key>UIAppFonts</key>
    <array>
        <string>PlusJakartaSans-Bold.ttf</string>
        <string>PlusJakartaSans-SemiBold.ttf</string>
        <string>PlusJakartaSans-Regular.ttf</string>
        <string>PlusJakartaSans-Medium.ttf</string>
        <string>QurovaDEMO-Medium.otf</string>
        <string>Utendo-Medium.ttf</string>
        <string>Utendo-Semibold.ttf</string>
        <string>Utendo-Regular.ttf</string>
        <string>Utendo-Bold.ttf</string>
        <string>ClashDisplay-Bold.otf</string>
        <string>ClashDisplay-Semibold.otf</string>
    </array>
</dict>
</plist>
